*{
    margin: 0px;
    padding: 0px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding-top: 5px;
    padding-left: 15px;
    top: 0;
    position: relative;
}

body {
    background-image: url("images/background.PNG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.home-text{
    font-family: 'Trebuchet MS', arial, sans-serif;
    font-size: 22px;
    color: rgb(4, 87, 4);
    text-align: center;
    width: 70%;
    margin: 170px auto 0 auto;
}
.home-description{
    font-family: 'Trebuchet MS', arial, sans-serif;
    font-size: 18px;
    color: rgb(4, 65, 4);
    font-weight: 500;
}
.status-box{
    margin-top: 50px;
}

.profile{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.profile-info h1{
    padding-left: 15px;
    color: rgba(4, 17, 1, 0.807);
    font-weight: 700;
    padding-top: 10px;
}

.profile-img img{
    width: 100x;
    height: 150px;
    border-radius: 10%;
}

.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    margin:0;
    padding: 15pX 0;
    list-style-type: none;
}

.nav-bar a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    }
 .nav-bar.current { 
    color: black;
 }   
a:hover{
    text-decoration: underline;
}

.socials img{
    width: 050px;
    height: 50px;
    object-fit: contain;
}

.academics{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
   justify-content: center;

    color: rgb(1, 24, 4);
    font-size: 20px;
    padding: 60px;
    font-family:'Trebuchet MS', arial, sans-serif;
}
.about-socials img{
    width: 70px;
    height:50x;
    margin-left:20X;
   margin-top:20px;
   padding-left: 40px;
}

.about-me{
    min-height: 45vh;
    display: flex;
    flex-direction: column;
   justify-content: center;

    color: rgb(3, 37, 2);
    font-size: 30px;
    padding: 60px;
    font-family:'Trebuchet MS', arial, sans-serif;
}
.hobbies{
    list-style-type: square;
    font-family:'Trebuchet MS', arial, sans-serif;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 60px;
}
.publications{
    background-image: url("images/publication.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

footer{
    background-color: lightgrey;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    color: #ffff;
    font-size: 15px;
    padding: 5px;

}